{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Register{% endblock title %}
{% block styles %}
		<link rel="stylesheet" type="text/css" href="{% static 'URLshortener/css/bootstrap-social.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container form-container w-100 h-100 input-group">
		<form action="{% url 'register' %}" method='POST'>
			{% if form.errors %}
				{% for error in form.errors %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>	  
				{% endfor %}
			{% endif %}

			{% csrf_token %}
			{{ form|as_bootstrap }}
			<br />
			<button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
		</form>
	</div>
{% endblock content %}